.root{
    width: 100%;
    height: 100%;
}
.text{
    height: 20%;
    width: 100%;
    font-size: 26px;
    padding-left: 5%;
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgb(206, 206, 206);
}
.content_wrapper{
    width: 100%;
    height: 80%;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8%;
}
.content > input, 
.content > .option,
.content > .option_highlighted{
    width: 90%;
    font-size: 20px;
}

.content > input{
    height: 50px;
    
    padding: 10px;
}
.content > .option{
    background: linear-gradient(white, rgb(228, 228, 228));
}
.content > .option,
.content > .option_highlighted{
    border: solid 1px rgb(53, 53, 53);
    padding: 10px;
}
.content > .option_highlighted{
    background: linear-gradient(rgb(7, 135, 255), rgb(0, 118, 228));
    color: white;
}
.content > .option:hover,
.content > .option_highlighted:hover{
    cursor: pointer;
}

.content > .option:hover{
    background: linear-gradient(rgb(243, 243, 243), rgb(218, 218, 218));
}
.content > .option_highlighted:hover{
    background: linear-gradient(rgb(32, 147, 255), rgb(12, 137, 255));
}